pkgbase = libqb
	pkgdesc = Library with the primary purpose of providing high performance client server reusable features
	pkgver = 0.17.2
	pkgrel = 1
	url = https://github.com/ClusterLabs/libqb/wiki
	arch = i686
	arch = x86_64
	arch = mips64el
	license = LGPL2.1
	makedepends = doxygen
	makedepends = splint
	options = !libtool
	source = https://github.com/ClusterLabs/libqb/releases/download/v0.17.2/libqb-0.17.2.tar.xz
	sha512sums = 9c6dce7d18aa4da31594faecd0ea2737c2beefa749290094f733fe89ac40f094ec6409f310c534b8144d500e8c204c328386eaf1029995698d7019c014433443

pkgname = libqb

